@{ ViewData["Title"] = "About Us"; }

@inject Project_MVC_BookShop2.Repository.ILanguageRepository _bookLang

<h1>About Us page</h1>

<h2>Dependency Injection passsing straight await to View from Repository, without passing it to controller and then to View</h2>
<h2>But we must use Interface Repository only to do that!!!!!</h2>

@foreach( var item in await _bookLang.GetLanguages()){

<p>@item.Name</p>
}