<iframe
    @* src="https://www.google.com/maps?q=Manchester,England&output=embed" *@
    src="https://www.google.com/maps?q=53.45696813335145, -2.3623961357258243&output=embed"
    width="100%"
    height="550"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade">
</iframe>

<div class="container">
    <div class="row ">
        <div class="col-4 card m-1">
            <h2>Finance</h2>
            <p>This is an additional block of content.</p>
            <p>It can be used to display any extra information or features.</p>
            <img src="/IMG/Home/tyre.png" alt="finance" style="width: 100%; height: auto;"/>
            <a href="#" class="card-link">Learn More</a>
        </div>
        <div class="col-3 card m-1">
            <h2>Buy warranty</h2>
            <p>This is an additional block of content.</p>
            <p>It can be used to display any extra information or features.</p>
            <img src="/IMG/Home/engine.png" alt="engine" style="width: 100%; height: auto;"/>
            <a href="#" class="card-link">Learn More</a>
        </div>
        <div class="col-4 card m-1">
            <h2>Get latest offers</h2>
            <p>This is an additional block of content.</p>
            <p>It can be used to display any extra information or features.</p>
            <img src="/IMG/Home/allcars.png" alt="offer" style="width: 100%; height: auto;"/>
            <a href="#" class="card-link">Learn More</a>
        </div>
    </div> 
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>About Us</h2>
            <p>At Supreme Car Showroom, we’re passionate about connecting drivers with their perfect ride. With a wide selection of premium new and pre-owned vehicles, we offer something for every lifestyle and budget. Our commitment goes beyond the sale — we pride ourselves on exceptional customer service, expert advice, and a hassle-free buying experience. Whether you're looking for performance, luxury, or reliability, our knowledgeable team is here to help you every step of the way. Visit us today and experience the difference at Supreme Car Showroom — where your journey begins.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Your Finance Options</h2>
            <h5>Motorpoint Ltd is authorised and regulated by the Financial Conduct Authority (FCA) for consumer credit, our FRN is 684004, register.fca.org.uk. As an FCA-regulated credit broker we are not independent nor representative of the whole market. We can introduce you to a selected group of lenders either directly with Black Horse Ltd or via a broker, Direct IFA’s Ltd, who may be able to help you finance your purchase. This group of lenders provides us with a range of products which we deem suitable for your purchase (subject to status) and we will explain the key features of those products so you can make an informed decision. We do not charge fees for our Consumer Credit services. We will be paid a commission for introducing you to our selected group of lenders, this will be a percentage of the amount that you borrow. The commission amount will be disclosed once your Finance Agreement has been accepted with one of our lenders.</h5>
            <p>All prices exclude Road Fund Licence. Vehicles are supplied with balance of manufacturers warranty where available. Vehicle taxation and specification information are based on manufacturers’ information provided when new and are subject to confirmation upon customer inspection. While every effort is made to ensure the information is correct, third-party providers supply the data, and Motorpoint cannot guarantee its accuracy. Please reconfirm any details that are important to you with a customer advisor who will be happy to help.. Vehicles may be moved from site to site at an additional cost. Savings shown are against the vehicle List Price when new. All information is correct at time of publication. Motorpoint Ltd | Registered Office: Champion House, Dalven Avenue, Manchester, M16 8LY, England. | Company Number: 123456789</p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row ">
        <div class="col-4 card m-1">
            <h2 class="text-success">Get the latest offers & recomendations straight today your inbox!</h2>
            <form>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>    
            <p>By subscribing, you agree to receive marketing communications by email. Your can unsubscribe at any time, and we'll always keep your data safe. Read our Privacy Policy for more info. </p>
        </div>
        <div class="col-7 card m-1">
            <h2 class="text-danger d-flex justify-content-center">Get In Touch</h2>
            <p>This is an additional block of content.</p>
            <p class="text-danger">Tel.: 123456789</p>
            <p class="text-danger">Email: car_supreme_showroom@info.com</p>
            <div style="display: flex; justify-content: center;"">
                <img src="/IMG/Home/pngegg (7).png" alt="engine" style="width: 70%; height: auto;"/>
            </div>
            <a href="#" class="card-link">Buy</a>
        </div>
    </div> 
</div>

<div class="container"> 
    <div class="row">
        <div class="col-6">
            <h2>How it works</h2>
            <p>Buying a New Car has never been easier. You will be buying your car directly from Supreme Car Showroom UK, with your selected Showroom acting as an Agent on our behalf. This means you can rest easy knowing you're getting the best price, regardless of where you buy from.</p>  
            <img src="/IMG/Home/bmw.png" alt="How it works" style="width: 100%; height: auto;"/>
        </div>
        <div class="col-6">
            <h4>1. Order your car</h4>
            <p>Once you have found your next car, click on the "Buy now" button and complete the order form. Your Showroom will be in touch to discuss your purchase.</p>
            <br/>
            <h4>2. Complete an ID check</h4>
            <p>We'll ask you to complete an ID check via TrustID - you can do this remotely or in the Showroom.</p>
            <br/>
            <h4>3. Securing your car</h4>
            <p>Your Showroom will ask you to sign an electronic order form and pay a holding deposit (if applicable) to finalise your order.</p>
            <br/>
            <h4>4. Waiting for your car</h4>
            <p>You can book a date for your handover and relax whilst your Showroom prepares your car. Once your car is fully paid, your handover can take place and you can drive away in your new car.</p>
            <a href="home/ShowCars" type="button" class="btn btn-primary">Show all Showroom cars</a>
        </div>
    </div>
</div>

