@model IEnumerable<Project1.Models.Car>

@{
    ViewData["Title"] = "Car List";
}

@if (!Model.Any())
{
    <p>No cars available</p>
}
else
{
    <br />
    <h1 style="display:flex; justify-content: center;">Available Cars In Our Showroom</h1>

  <div class="car_container" style="display: flex; justify-content: center;">
        <div class="row">
            @foreach (var car in Model)
            {
                <div class="card" style="width: 300px; border:black 1px solid; margin: 5px; padding: 5px; position:relative;">
                    <img src="/IMG/Home/vector-car-png-favpng-gpinVUFdwJp91d2ihTCQu1WwS.jpg" class="card-img-top" alt="car image" style="width: 120px;height:120px; position: absolute; left: 5px">
                    
                    <div class="card-body" style="margin-left: 100px;">
                        <h5 class="card-title">Name: @car.Name</h5>
                        <h5 class="card-title">Price: £ @car.Price</h5>
                    
                        <br />
                        <a href="/home/GetCar/@car.Id" class="btn btn-primary">More Details</a>
                        <br/>
                        <br/>
                        <button class="btn btn-primary" asp-controller="home" asp-action="EditCar" asp-route-id="@car.Id" style="padding: 5px;">Edit</button>
                        
                        <button class="btn btn-primary" asp-controller="home" asp-action="DeleteCar" asp-route-id="@car.Id" style="padding: 5px;">Delete</button>
                        
                    </div>
                </div>
            }
        </div>
    </div>
}
