<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/Project1.styles.css" asp-append-version="true" /> *@

@* to use jQuery in View files i use line below *@
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <header>
     <span class="logo">ASP.NET CORE Projects </span>
    <nav>
        <a href="/">Home</a>
        <a href="/home/Game">Game</a>
        <a href="/home/Test">Test</a>
        <a href="/home/Calculator">Calculator</a>
        <a href="/home/Vending">Machine</a>
        <a href="/Contacts">Contacts</a>
        <a asp-protocol="http" asp-host="google.com" asp-controller="" asp-action="">Google.com</a>
    </nav>

    </header>
    <div class="container">
        <main>
            @RenderBody()
        </main>
    </div>

    <footer>
       Copyright &copy; ASP.NET @DateTime.Now.Year  
       
    </footer>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

@* scripts are located not on every View page *@
@await RenderSectionAsync("Scripts", required: false) 

</body>
</html>
