@model IEnumerable<Book>  //receive data (List of 2 books) from Components/TopBooksViewComponent.cs, that we passed in TopBooksViewComponent.cs,(here we assign a data type to imported Model).It can be any data type -IEnumerable (this is universal), List, Collection
@* receiving <Book> model  from Components/TopBooksViewComponent.cs*@

<h3 class="mt-5 text-decoration-underline">3 Top Books from database</h3>

@if(!Model.Any()) //if there is no books in the database
{
    <div class="alert alert-danger" role="alert">
        No books found in our BookShop
    </div>
}
else
{
    @foreach(var book in Model){
    <div class="col-md-4"> <!-- col-md-4 - 3 columns in a row, 4 columns in a row for each book -->

        @* here we loop the IEnumerable(list of books that we received from TopBooksViewComponent.cs) and passing each book to Partial View *@
        <partial name="_bookThumbnail" model="book" />  
    </div>
    }
     
}




