<div class="container mt-5 mb-5">
    <div class="row">
        
        <div class="col">
            <h1>About Us</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <button class="btn btn-primary">Learn More</button>
        </div>

        <div class="col">
            <h1>Contact Us</h1>

           
                <p>
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                        Toggle width collapse
                    </button>
                </p>
                <div style="min-height: 120px;">
                <div class="collapse collapse-horizontal" id="collapseWidthExample">
                    <div class="card card-body" style="width: 300px;">
                    This is some placeholder content for a horizontal collapse. It's hidden by default and shown when triggered.
                    </div>
                </div>
        
           
            
        </div>
    </div>

    <div class="containrer">
        <h1 class="d-flex justify-content-center mb-5 text-decoration-underline">Most popular books in @DateTime.Now.Year</h1>
    <div class="row">
        <div class="col-4">
            <span class="d-flex justify-content-center">Book1</span>

            <span class="d-flex justify-content-center">Book2</span>

            <span class="d-flex justify-content-center">Book3</span>

            <span class="d-flex justify-content-center">Book4</span>

            <span class="d-flex justify-content-center">Book5</span>
        </div>

        <div class="col-8">
            @* <span class="col-1 d-flex justify-content-center">Book1</span> *@
            <div class="progress mb-2" role="progressbar" aria-label="Basic example" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-success progress-bar-striped" style="width: 5%">5%</div>
            </div>

            <div class="progress mb-2" role="progressbar" style="height: auto;" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-info progress-bar-striped" style="width: 20%">20%</div>
            </div>

            <div class="progress mb-2" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped" style="width: 50%">50%</div>
            </div>

            <div class="progress mb-2" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-danger progress-bar-striped" style="width: 75%">75%</div>
            </div>

            <div class="progress mb-2" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-warning progress-bar-striped" style="width: 100%">100%</div>
            </div>
        
        </div>
    </div>

</div>
    

</div>

