<div class="embed-responsive embed-responsive-21by9">
  <video class="embed-responsive-item" src="/Video/floor2.mp4"  style="width: 100%;" autoplay muted loop></video>
@* autoplay-starts the video automatically.muted is required if you want autoplay to work in most browsers (like Chrome). *@
@* autoplay: starts playing as soon as it can. muted: required for autoplay to work without user interaction. loop: restarts the video automatically when it ends *@
</div>