@using Project1.Models;

@{
    ViewData["Title"] = "Home";
}

<button id="showCarsBtn" class="btn btn-primary">Show All Cars</button>

<div id="carListContainer"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#showCarsBtn").click(function () {
            $.get("/Home/ShowCars", function (data) {
                $("#carListContainer").html(data);
            });
        });
    });
</script>

