@using Project1.Models;

@{
    ViewData["Title"] = "Home";
}

<div style="display: flex; justify-content: center;">
<button id="showCarsBtn" class="btn btn-primary" style="padding: 5px;">Show All Cars</button>
</div>
<button class="addNewCarBtn" style="display: none">
    <a class="btnLink_Addnewcar" asp-asp-controller="home" asp-action="AddNewCar" style="display: none">
        <button class="btn btn-primary" style="padding: 5px;">
            Add New Car
        </button>
    </a>
</button>
<button id="returnBtn" class="btn btn-danger" style="padding: 5px; display: none">Return</button>

<div id="carListContainer"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#showCarsBtn").click(function () {
            $.get("/Home/ShowCars", function (data) {
                $("#carListContainer").html(data);
                $("#showCarsBtn").hide();
                $("#returnBtn").show();
                $(".btnLink_Addnewcar").show();
                
            });
        });

        $("#returnBtn").click(function () {
            $("#carListContainer").empty();
            $("#showCarsBtn").show();
            $("#returnBtn").hide();
            $(".btnLink_Addnewcar").hide();
        });

      
    });
</script>

