@model IEnumerable<Project1.Models.Car>

@{
    ViewData["Title"] = "Show Cars";
    Layout = "_Layout";
}

@* @using Project1.Models;
@model IEnumerable<Car> *@

<p>@ViewBag.Message</p>

<partial name="_CarListPartial" model="Model"/>
