.signIn-header {
  font-size: 24px;
  display: flex;
  justify-content: center;
}

.google-page {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.signIn-google-btn {
  display: flex;
  justify-content: center;
  /* width: 300px; */
  margin-top: 20px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  /* background-color: blue; */
}

.form-container {
  border: 1px solid white;
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-right: 30%;
  margin-left: 30%; */
  /* align-items: center; */
  /* height: 70vh; */
}

.email-container,
.pas-container {
  margin: 10px;
  /* display: flex;
  justify-content: center; */
}

.page-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  height: 200px;
}
